@import 'tailwindcss';

@font-face {
	font-family: 'CyberFont';
	src: url('cyber.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--neon-blue: #00f3ff;
}

body {
	font-family: 'CyberFont', sans-serif;
}

.border-neon-blue {
	border-color: var(--neon-blue);
}

.text-neon-blue {
	color: var(--neon-blue);
}

.bg-neon-blue {
	background-color: var(--neon-blue);
}

.cyberpunk-glitch {
	text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
		-0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
		0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	animation: glitch 500ms infinite;
}

@keyframes glitch {
	0% {
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
			-0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
			-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	14% {
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
			-0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
			-0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
	}
	15% {
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
			0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
			-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	49% {
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
			0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
			-0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	50% {
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
			0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	99% {
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
			0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
	}
	100% {
		text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
			-0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
			-0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
	}
}

.cyberpunk-button {
	clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0 100%);
}

.cyberpunk-input {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}

.cyberpunk-form {
	clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
}

.bg-grid-pattern {
	background-image: linear-gradient(
			to right,
			var(--neon-blue) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, var(--neon-blue) 1px, transparent 1px);
	background-size: 20px 20px;
}
